<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>车辆列表</title>
<link th:href="@{/static/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
	<style type="text/css">
		.carPage{
			text-align: center;
			margin: 0 auto;
			padding-top: 20px;
		}
	</style>
</head>
<body>
	<h2>车辆列表</h2>
	
	<!--车辆表展示  -->
	<div class="container-fluid">
		<div class="row" id="carlist"></div>
	</div>
	
	<div class="carPage">
		<button id="firstPage" class="btn btn-primary" type="button">首页</button>
		<button id="prePage" class="btn btn-success" type="button">上一页</button>
		<button id="nextPage" class="btn btn-info" type="button">下一页</button>
		<button id="lastPage" class="btn btn-danger" type="button">尾页</button>
	</div>
	
	
	<script th:src="@{/static/js/jquery/jquery.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/static/js/validate/jquery.validate.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/static/js/validate/messages_zh.min.js}"
		type="text/javascript"></script>
		
	<script th:inline="javascript" type="text/javascript">
		const path= /*[[${#request.getContextPath()}]]*/
		let currentPage;
		let pageCount="";
		$(function(){
			et1911.queryList();
			
			//点击首页
			$('#firstPage').click(function(){
				et1911.queryList();
			})
			
			$('#prePage').click(function(){
				et1911.queryList(--currentPage);
			})
			
			$('#nextPage').click(function(){
				et1911.queryList(++currentPage);
			})
			
			$('#lastPage').click(function(){
				et1911.queryList(pageCount);
			})
		})
		
		$(function(){
			et1911.queryList();
		});
		
		let et1911 = {
			queryList:function(pageNum,pageSize){
				//如果pageNum pageSize不传或者传入''.undefined 这时就取后边的数
				pageNum = pageNum || 1;
				pageSize = pageSize ||8;
				
				
				$.ajax({
					url:path + '/car/list',
					type: 'GET',
					data: 'pageNum=' + pageNum + '&pageSize=' +pageSize,
					dataType:'json',
					success:function(res){
						//当前页
						currentPage = res.pageNum
						//总页数
						pageCount = res.pageCount
						
						let divs = '';
						$.each(res.rows,function(index,car){
							divs += "<div class='col-md-3'>"
							+"<img class='img-thumbnail' src='"+ path + car.pic + "'>"
							+"<p>"+ car.brand +"/"+ car.series +"</P>"
							+"<p>"+ car.price +"</p>"
							+"<p>"+ car.gearboxName +"</p>"
							+ "</div>"
						})
						$('#carlist').html(divs);
						
						//如果是最后一页，把尾页和下一页按钮为不可用
						if(res.first){
							$('#firstPage').attr('disabled','disabled')
							$('#prePage').attr('disabled','disabled')
						}else{
							$('#firstPage').removeAttr('disabled','disabled')
							$('#prePage').removeAttr('disabled','disabled')
						}
						
						if(res.last){
							$('#lastPage').attr('disabled','disabled')
							$('#nextPage').attr('disabled','disabled')
						}else{
							$('#lastPage').removeAttr('disabled','disabled')
							$('#nextPage').removeAttr('disabled','disabled')
						}
						
					}
				})
			}

		}

	</script>
</body>
</html>